*{
    margin:0;
    padding:0;
}
body{
    background-color: black;
}
.pics{
    max-width: 55vw;
    margin-left: 2em;
    margin-top: 1em;
    border: 5px solid white;
}
.container{
    text-align: center;
}
.stats{
    text-transform: uppercase;
    font-weight: 200;
    margin-top: 0.2em;
    color: rgb(206, 176, 176); 
    font-family:Libre Baskerville;
}
.paragraph{
    padding: 1.1em;
    font-size: 0.9em;
    color: white;
}
.reels{
font-size: 0.3em;
margin-left:10rem;
}
.white{
    color: white;
}
.gold{
    color:rgb(170, 68, 31)
}

@media only screen and (min-width:375px){
body{
    background-color:black;
}
.stats{
    padding: 1em;
}
.paragraph{
    padding:1.7em;
}
h1 p{
    margin: 0;
}

}
@media only screen and (min-width:1024px) {
.stats{
    font-size: 3em;
    word-wrap: break-word;
   width: 10em;
    margin-left:7em;
}
    .paragraph{
    font-size:1.5em;
    /* margin-left:1em */
 } 
 .reels{
    font-size:1.4em
 }
    .pics{
        width:30vw;
        margin-left:1em;
    }
}

@media only screen and (min-width:1440px) {
 .stats{
    font-size:7em ;
    margin-left: 19em;
 }   
} 
